In [1]:
import pandas as pd
import numpy as np
import re

## Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
horse_colums = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']

In [3]:
horse_db = pd.read_csv('horse_data.csv')
horse_db.head(30)

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
5,1,1,526802,37.90,48,16,1,1,1,1,...,37.00,7.00,?,?,1,1,3124,0,0,2
6,1,1,529607,?,60,?,3,?,?,1,...,44.00,8.30,?,?,2,1,2208,0,0,2
7,2,1,530051,?,80,36,3,4,3,1,...,38.00,6.20,?,?,3,1,3205,0,0,2
8,2,9,5299629,38.30,90,?,1,?,1,1,...,40.00,6.20,1,2.20,1,2,0,0,0,1
9,1,1,528548,38.10,66,12,3,3,5,1,...,44.00,6.00,2,3.60,1,1,2124,0,0,1
10,2,1,527927,39.10,72,52,2,?,2,1,...,50.00,7.80,?,?,1,1,2111,0,0,2
11,1,1,528031,37.20,42,12,2,1,1,1,...,?,7.00,?,?,1,2,4124,0,0,2
12,2,9,5291329,38.00,92,28,1,1,2,1,...,37.00,6.10,1,?,2,2,0,0,0,1
13,1,1,534917,38.2,76,28,3,1,1,1,...,46,81,1,2,1,1,2112,0,0,2
14,1,1,530233,37.60,96,48,3,1,4,1,...,45.00,6.80,?,?,2,1,3207,0,0,2
15,1,9,5301219,?,128,36,3,3,4,2,...,53.00,7.80,3,4.70,2,2,1400,0,0,1
16,2,1,526639,37.50,48,24,?,?,?,?,...,?,?,?,?,1,2,0,0,0,2
17,1,1,5290481,37.60,64,21,1,1,2,1,...,40.00,7.00,1,?,1,1,4205,0,0,1
18,2,1,532110,39.4,110,35,4,3,6,?,...,55,8.7,?,?,1,2,0,0,0,2
19,1,1,530157,39.90,72,60,1,1,5,2,...,46.00,6.10,2,?,1,1,2111,0,0,2
20,2,1,529340,38.40,48,16,1,?,1,1,...,49.00,6.80,?,?,1,2,0,0,0,2
21,1,1,521681,38.60,42,34,2,1,4,?,...,48.00,7.20,?,?,1,1,3111,0,0,2
22,1,9,534998,38.3,130,60,?,3,?,1,...,50,70,?,?,1,1,3111,0,0,2
23,1,1,533692,38.1,60,12,3,3,3,1,...,51,65,?,?,1,1,3111,0,0,2
24,2,1,529518,37.80,60,42,?,?,?,1,...,?,?,?,?,1,2,0,0,0,2
25,1,1,530526,38.30,72,30,4,3,3,2,...,43.00,7.00,2,3.90,1,1,3111,0,0,1
26,1,1,528653,37.80,48,12,3,1,1,1,...,37.00,5.50,2,1.30,1,2,4122,0,0,1
27,1,1,5279442,?,?,?,?,?,?,?,...,?,?,?,?,2,2,4300,0,0,2
28,2,1,535415,37.7,48,?,2,1,1,1,...,45,76,?,?,1,2,0,0,0,2
29,2,1,529475,37.70,96,30,3,3,4,2,...,66.00,7.50,?,?,2,1,4205,0,0,2

In [4]:
f = open('horse_data.names', 'r')
horse_data = f.readlines()
f.close()
horse_data

['1. TItle: Horse Colic database\n',
 '\n',
 '2. Source Information\n',
 '   -- Creators: Mary McLeish & Matt Cecile\n',
 '\t  \tDepartment of Computer Science\n',
 '\t\tUniversity of Guelph\n',
 '\t\tGuelph, Ontario, Canada N1G 2W1\n',
 '\t\tmdmcleish@water.waterloo.edu\n',
 '   -- Donor:    Will Taylor (taylor@pluto.arc.nasa.gov)\n',
 '   -- Date:     8/6/89\n',
 '\n',
 '3. Past Usage:\n',
 '   -- Unknown\n',
 '\n',
 '4. Relevant Information:\n',
 '\n',
 '   -- 2 data files\n',
 '      -- horse-colic.data: 300 training instances\n',
 '      -- horse-colic.test: 68 test instances\n',
 '   -- Possible class attributes: 24 (whether lesion is surgical)\n',
 '     -- others include: 23, 25, 26, and 27\n',
 '   -- Many Data types: (continuous, discrete, and nominal)\n',
 '\n',
 '5. Number of Instances: 368 (300 for training, 68 for testing)\n',
 '\n',
 '6. Number of attributes: 28\n',
 '\n',
 '7. Attribute Information:\n',
 '\n',
 '  1:  surgery?\n',
 '          1 = Yes, it had surgery\n',
 '          2 = It was treated without surgery\n',
 '\n',
 '  2:  Age\n',
 '          1 = Adult horse\n',
 '          2 = Young (< 6 months)\n',
 '\n',
 '  3:  Hospital Number\n',
 '          - numeric id\n',
 '          - the case number assigned to the horse\n',
 '            (may not be unique if the horse is treated > 1 time)\n',
 '\n',
 '  4:  rectal temperature\n',
 '          - linear\n',
 '          - in degrees celsius.\n',
 '          - An elevated temp may occur due to infection.\n',
 '          - temperature may be reduced when the animal is in late shock\n',
 '          - normal temp is 37.8\n',
 '          - this parameter will usually change as the problem progresses\n',
 '               eg. may start out normal, then become elevated because of\n',
 '                   the lesion, passing back through the normal range as the\n',
 '                   horse goes into shock\n',
 '  5:  pulse\n',
 '          - linear\n',
 '          - the heart rate in beats per minute\n',
 '          - is a reflection of the heart condition: 30 -40 is normal for adults\n',
 '          - rare to have a lower than normal rate although athletic horses\n',
 '            may have a rate of 20-25\n',
 '          - animals with painful lesions or suffering from circulatory shock\n',
 '            may have an elevated heart rate\n',
 '\n',
 '  6:  respiratory rate\n',
 '          - linear\n',
 '          - normal rate is 8 to 10\n',
 '          - usefulness is doubtful due to the great fluctuations\n',
 '\n',
 '  7:  temperature of extremities\n',
 '          - a subjective indication of peripheral circulation\n',
 '          - possible values:\n',
 '               1 = Normal\n',
 '               2 = Warm\n',
 '               3 = Cool\n',
 '               4 = Cold\n',
 '          - cool to cold extremities indicate possible shock\n',
 '          - hot extremities should correlate with an elevated rectal temp.\n',
 '\n',
 '  8:  peripheral pulse\n',
 '          - subjective\n',
 '          - possible values are:\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = reduced\n',
 '               4 = absent\n',
 '          - normal or increased p.p. are indicative of adequate circulation\n',
 '            while reduced or absent indicate poor perfusion\n',
 '\n',
 '  9:  mucous membranes\n',
 '          - a subjective measurement of colour\n',
 '          - possible values are:\n',
 '               1 = normal pink\n',
 '               2 = bright pink\n',
 '               3 = pale pink\n',
 '               4 = pale cyanotic\n',
 '               5 = bright red / injected\n',
 '               6 = dark cyanotic\n',
 '          - 1 and 2 probably indicate a normal or slightly increased\n',
 '            circulation\n',
 '          - 3 may occur in early shock\n',
 '          - 4 and 6 are indicative of serious circulatory compromise\n',
 '          - 5 is more indicative of a septicemia\n',
 '\n',
 ' 10: capillary refill time\n',
 '          - a clinical judgement. The longer the refill, the poorer the\n',
 '            circulation\n',
 '          - possible values\n',
 '               1 = < 3 seconds\n',
 '               2 = >= 3 seconds\n',
 '\n',
 " 11: pain - a subjective judgement of the horse's pain level\n",
 '          - possible values:\n',
 '               1 = alert, no pain\n',
 '               2 = depressed\n',
 '               3 = intermittent mild pain\n',
 '               4 = intermittent severe pain\n',
 '               5 = continuous severe pain\n',
 '          - should NOT be treated as a ordered or discrete variable!\n',
 '          - In general, the more painful, the more likely it is to require\n',
 '            surgery\n',
 '          - prior treatment of pain may mask the pain level to some extent\n',
 '\n',
 ' 12: peristalsis\n',
 "          - an indication of the activity in the horse's gut. As the gut\n",
 '            becomes more distended or the horse becomes more toxic, the\n',
 '            activity decreases\n',
 '          - possible values:\n',
 '               1 = hypermotile\n',
 '               2 = normal\n',
 '               3 = hypomotile\n',
 '               4 = absent\n',
 '\n',
 ' 13: abdominal distension\n',
 '          - An IMPORTANT parameter.\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = moderate\n',
 '               4 = severe\n',
 '          - an animal with abdominal distension is likely to be painful and\n',
 '            have reduced gut motility.\n',
 '          - a horse with severe abdominal distension is likely to require\n',
 '            surgery just tio relieve the pressure\n',
 '\n',
 ' 14: nasogastric tube\n',
 '          - this refers to any gas coming out of the tube\n',
 '          - possible values:\n',
 '               1 = none\n',
 '               2 = slight\n',
 '               3 = significant\n',
 '          - a large gas cap in the stomach is likely to give the horse\n',
 '            discomfort\n',
 '\n',
 ' 15: nasogastric reflux\n',
 '          - possible values\n',
 '               1 = none\n',
 '               2 = > 1 liter\n',
 '               3 = < 1 liter\n',
 '          - the greater amount of reflux, the more likelihood that there is\n',
 '            some serious obstruction to the fluid passage from the rest of\n',
 '            the intestine\n',
 '\n',
 ' 16: nasogastric reflux PH\n',
 '          - linear\n',
 '          - scale is from 0 to 14 with 7 being neutral\n',
 '          - normal values are in the 3 to 4 range\n',
 '\n',
 ' 17: rectal examination - feces\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = increased\n',
 '               3 = decreased\n',
 '               4 = absent\n',
 '          - absent feces probably indicates an obstruction\n',
 '\n',
 ' 18: abdomen\n',
 '          - possible values\n',
 '               1 = normal\n',
 '               2 = other\n',
 '               3 = firm feces in the large intestine\n',
 '               4 = distended small intestine\n',
 '               5 = distended large intestine\n',
 '          - 3 is probably an obstruction caused by a mechanical impaction\n',
 '            and is normally treated medically\n',
 '          - 4 and 5 indicate a surgical lesion\n',
 '\n',
 ' 19: packed cell volume\n',
 '          - linear\n',
 '          - the # of red cells by volume in the blood\n',
 '          - normal range is 30 to 50. The level rises as the circulation\n',
 '            becomes compromised or as the animal becomes dehydrated.\n',
 '\n',
 ' 20: total protein\n',
 '          - linear\n',
 '          - normal values lie in the 6-7.5 (gms/dL) range\n',
 '          - the higher the value the greater the dehydration\n',
 '\n',
 ' 21: abdominocentesis appearance\n',
 "          - a needle is put in the horse's abdomen and fluid is obtained from\n",
 '            the abdominal cavity\n',
 '          - possible values:\n',
 '               1 = clear\n',
 '               2 = cloudy\n',
 '               3 = serosanguinous\n',
 '          - normal fluid is clear while cloudy or serosanguinous indicates\n',
 '            a compromised gut\n',
 '\n',
 ' 22: abdomcentesis total protein\n',
 '          - linear\n',
 '          - the higher the level of protein the more likely it is to have a\n',
 '            compromised gut. Values are in gms/dL\n',
 '\n',
 ' 23: outcome\n',
 '          - what eventually happened to the horse?\n',
 '          - possible values:\n',
 '               1 = lived\n',
 '               2 = died\n',
 '               3 = was euthanized\n',
 '\n',
 ' 24: surgical lesion?\n',
 '          - retrospectively, was the problem (lesion) surgical?\n',
 '          - all cases are either operated upon or autopsied so that\n',
 '            this value and the lesion type are always known\n',
 '          - possible values:\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '\n',
 ' 25, 26, 27: type of lesion\n',
 '          - first number is site of lesion\n',
 '               1 = gastric\n',
 '               2 = sm intestine\n',
 '               3 = lg colon\n',
 '               4 = lg colon and cecum\n',
 '               5 = cecum\n',
 '               6 = transverse colon\n',
 '               7 = retum/descending colon\n',
 '               8 = uterus\n',
 '               9 = bladder\n',
 '               11 = all intestinal sites\n',
 '               00 = none\n',
 '          - second number is type\n',
 '               1 = simple\n',
 '               2 = strangulation\n',
 '               3 = inflammation\n',
 '               4 = other\n',
 '          - third number is subtype\n',
 '               1 = mechanical\n',
 '               2 = paralytic\n',
 '               0 = n/a\n',
 '          - fourth number is specific code\n',
 '               1 = obturation\n',
 '               2 = intrinsic\n',
 '               3 = extrinsic\n',
 '               4 = adynamic\n',
 '               5 = volvulus/torsion\n',
 '               6 = intussuption\n',
 '               7 = thromboembolic\n',
 '               8 = hernia\n',
 '               9 = lipoma/slenic incarceration\n',
 '               10 = displacement\n',
 '               0 = n/a\n',
 ' 28: cp_data\n',
 '          - is pathology data present for this case?\n',
 '               1 = Yes\n',
 '               2 = No\n',
 '          - this variable is of no significance since pathology data\n',
 '            is not included or collected for these cases\n',
 '\n',
 '8. Missing values: 30% of the values are missing']

In [5]:
def colums_for_df(horse_data):
    """Принимает текст и выводит пронумерованный словарь названий колонок"""
    re_horse = []
    horse_names_colums = {}
    horse_colums = {}
    
    for line in horse_data:
        find = re.findall(r'\d\:\s+(\w+)', line)
        if find:
            re_horse.append(re.findall(r'\d+\:\s+.+', line))
    
    for string in re_horse:
        ind = re.search(r'\d+', string[0])
        colum = re.findall(r'\d\:\s+(.+)', string[0])[0]
        for i in range(1,29):
            if i == int(ind[0]):
                horse_names_colums[i] = colum
    
    for i in range(1,29):
        if i in list(horse_names_colums.keys()):
            horse_colums[i] = horse_names_colums[i]
        else:
            horse_colums[i] = i
    
    return horse_colums

In [6]:
horse_dirt = colums_for_df(horse_data)
print(list(horse_dirt.values()))

['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', "pain - a subjective judgement of the horse's pain level", 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?', 25, 26, 'type of lesion', 'cp_data']

In [7]:
list(horse_db.columns)

['2',
 '1',
 '530101',
 '38.50',
 '66',
 '28',
 '3',
 '3.1',
 '?',
 '2.1',
 '5',
 '4',
 '4.1',
 '?.1',
 '?.2',
 '?.3',
 '3.2',
 '5.1',
 '45.00',
 '8.40',
 '?.4',
 '?.5',
 '2.2',
 '2.3',
 '11300',
 '00000',
 '00000.1',
 '2.4']

In [89]:
list_of_colums = list(colums_for_df(horse_data).values())
list_of_colums = [
 'surgery',
 'age',
 'hospital_number',
 'rectal_temperature',
 'pulse',
 'respiratory_rate',
 'temperature_of_extremities',
 'peripheral_pulse',
 'mucous_membranes',
 'capillary_refill_time',
 'pain',
 'peristalsis',
 'abdominal_distension',
 'nasogastric_tube',
 'nasogastric_reflux',
 'nasogastric_reflux_ph',
 'rectal_examination',
 'abdomen',
 'packed_cell_volume',
 'total_protein',
 'abdominocentesis_appearance',
 'abdomcentesis_total_protein',
 'outcome',
 'surgical_lesion',
 25,
 26,
 'type_of_lesion',
 'cp_data']
list_of_colums

['surgery',
 'age',
 'hospital_number',
 'rectal_temperature',
 'pulse',
 'respiratory_rate',
 'temperature_of_extremities',
 'peripheral_pulse',
 'mucous_membranes',
 'capillary_refill_time',
 'pain',
 'peristalsis',
 'abdominal_distension',
 'nasogastric_tube',
 'nasogastric_reflux',
 'nasogastric_reflux_ph',
 'rectal_examination',
 'abdomen',
 'packed_cell_volume',
 'total_protein',
 'abdominocentesis_appearance',
 'abdomcentesis_total_protein',
 'outcome',
 'surgical_lesion',
 25,
 26,
 'type_of_lesion',
 'cp_data']

In [90]:
horse_db_colums = {}
for i, colume in enumerate(horse_db.columns):
    horse_db_colums[colume] = list_of_colums[i]
print(horse_db_colums)

{'surgery?': 'surgery', 'Age': 'age', 'Hospital Number': 'hospital_number', 'rectal temperature': 'rectal_temperature', 'pulse': 'pulse', 'respiratory rate': 'respiratory_rate', 'temperature of extremities': 'temperature_of_extremities', 'peripheral pulse': 'peripheral_pulse', 'mucous membranes': 'mucous_membranes', 'capillary refill time': 'capillary_refill_time', "pain - a subjective judgement of the horse's pain level": 'pain', 'peristalsis': 'peristalsis', 'abdominal distension': 'abdominal_distension', 'nasogastric tube': 'nasogastric_tube', 'nasogastric reflux': 'nasogastric_reflux', 'nasogastric reflux PH': 'nasogastric_reflux_ph', 'rectal examination - feces': 'rectal_examination', 'abdomen': 'abdomen', 'packed cell volume': 'packed_cell_volume', 'total protein': 'total_protein', 'abdominocentesis appearance': 'abdominocentesis_appearance', 'abdomcentesis total protein': 'abdomcentesis_total_protein', 'outcome': 'outcome', 'surgical lesion?': 'surgical_lesion', 25: 25, 26: 26, 'type of lesion': 'type_of_lesion', 'cp_data': 'cp_data'}

In [91]:
horse_db.rename(columns=horse_db_colums, inplace=True)
horse_db.head(5)

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,25,26,type_of_lesion,cp_data
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2

In [92]:
horse_colums = ['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']

In [93]:
filt_horse_db = horse_db.loc[:, horse_colums]
filt_horse_db.tail(15)

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
284,1,1,38.50,66,24,1,3,1
285,2,1,37.80,82,12,3,4,3
286,2,9,39.50,84,30,?,?,1
287,1,1,?,?,?,?,?,1
288,1,1,38.00,50,36,?,3,1
289,2,1,38.6,45,16,2,1,1
290,1,1,38.90,80,44,3,2,2
291,1,1,37.00,66,20,1,4,2
292,1,1,?,78,24,3,?,3
293,2,1,38.5,40,16,1,2,1
294,1,1,?,120,70,4,2,3
295,2,1,37.20,72,24,3,4,3
296,1,1,37.50,72,30,4,4,2
297,1,1,36.50,100,24,3,3,1
298,1,1,37.2,40,20,?,?,3

## Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [94]:
filt_horse_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    object
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    object
 3   pulse                       299 non-null    object
 4   respiratory_rate            299 non-null    object
 5   temperature_of_extremities  299 non-null    object
 6   pain                        299 non-null    object
 7   outcome                     299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.8+ KB

### Так как в данных присутствуют пропуски, типы данных читается как Object нужно что то сделать с пропусками и отойти от типа данных Object

In [151]:
replaced_db = filt_horse_db.replace('?', None, inplace=False)
replaced_db

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,1,39.2,88,20,None,3,3
1,2,1,38.30,40,24,1,3,1
2,1,9,39.10,164,84,4,2,2
3,2,1,37.30,104,35,None,None,2
4,2,1,None,None,None,2,2,1
...,...,...,...,...,...,...,...,...
294,1,1,None,120,70,4,2,3
295,2,1,37.20,72,24,3,4,3
296,1,1,37.50,72,30,4,4,2
297,1,1,36.50,100,24,3,3,1
298,1,1,37.2,40,20,None,None,3

In [152]:
replaced_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    object
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    object
 3   pulse                       275 non-null    object
 4   respiratory_rate            241 non-null    object
 5   temperature_of_extremities  243 non-null    object
 6   pain                        244 non-null    object
 7   outcome                     298 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.8+ KB

In [153]:
#Не хочет переводить в другие тиы данных потому что есть None
#replaced_db = replaced_db.astype({'rectal temperature': pd.float64, 'surgery?': pd.int8})
#replaced_db

In [154]:
replaced_db = replaced_db.apply(pd.to_numeric)
replaced_db

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [155]:
replaced_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [156]:
#replaced_db['rectal temperature'] = replaced_db['rectal temperature'].astype(float)
#replaced_db

In [157]:
replaced_db.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

## Задание 3 Сначала удалим пропуски

### Рассмотрим и подумаем над данными
Крайне непонятно что делать с данными без цели, поэтому исходил из самых явных целей и в частности исхода пациента
* Уровень боли (55 пропущено) - субъективная метрика, которая врят ли на что то влияет (далее думаю вообще можно выкинуть, потому что операться на них не стоит) вообще удаляю по итогу
* Температура конечностей (56 пропущено) - я конечно не ветеренар но не думаю что из этих данных можно получить что то полезное (удаляем)
* Частота дыхания (58 пропущено) - не думаю важная метрика и коррелирует со стресом, нервной системой в первую очередь. Пропуски сделаем по среднему так как в этих пропущенных данных могут быть нужныйе данные из других столбцов
* Пульс (24 пропущено) - важная метрика пропущенные удаляем
* Ректальная температура (60 пропущено) - важная метрика пропущенные удалим
* Возраст - нет ни одного пропущенного
* Наличие операции (1 пропущенный) - крайне важная метрика удалим пропущенное
* Исход (1 пропущенный) - предполагаю что в той же записи что и пропущенная наличие операции - удалим пропущенное

In [158]:
replaced_db.drop('pain', axis=1, inplace=True)

In [159]:
(replaced_db.isna().mean() * 100).round(2)

surgery                        0.33
age                            0.00
rectal_temperature            20.07
pulse                          8.03
respiratory_rate              19.40
temperature_of_extremities    18.73
outcome                        0.33
dtype: float64

In [160]:
replaced_db = replaced_db.dropna(subset=['surgery', 'age', 'pulse', 'respiratory_rate', 'outcome'])

In [161]:
replaced_db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 0 to 298
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     234 non-null    float64
 1   age                         234 non-null    int64
 2   rectal_temperature          205 non-null    float64
 3   pulse                       234 non-null    float64
 4   respiratory_rate            234 non-null    float64
 5   temperature_of_extremities  193 non-null    float64
 6   outcome                     234 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 14.6 KB

In [162]:
print(replaced_db['rectal_temperature'].mean())
print(replaced_db['temperature_of_extremities'].mean())

38.14731707317073
2.326424870466321

### Удаляю колонку температуру конечностей потому что это субъективное "горячий, норм, прохладный, холодный" которое непонятно от чего зависит

In [165]:
replaced_db.drop('temperature_of_extremities', axis=1, inplace=True)

In [168]:
replaced_db['rectal_temperature'] = replaced_db['rectal_temperature'].fillna(replaced_db['rectal_temperature'].mean().round(2))

/tmp/ipykernel_5260/1813875728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  replaced_db['rectal_temperature'] = replaced_db['rectal_temperature'].fillna(replaced_db['rectal_temperature'].mean().round(2))

In [169]:
(replaced_db.isna().mean() * 100).round(2)

surgery               0.0
age                   0.0
rectal_temperature    0.0
pulse                 0.0
respiratory_rate      0.0
outcome               0.0
dtype: float64

In [170]:
replaced_db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 0 to 298
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   surgery             234 non-null    float64
 1   age                 234 non-null    int64
 2   rectal_temperature  234 non-null    float64
 3   pulse               234 non-null    float64
 4   respiratory_rate    234 non-null    float64
 5   outcome             234 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 12.8 KB